.portfolio-icon {
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    width: 180px;
    height: 180px;
    border: 3px #484c50 solid;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.portfolio-icon-mini {
    width: 37px;
    height: 37px;
    border: 2px #484c50 solid;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.portfolio-icon-mini.online {
    border-color: #43b581;
}

.portfolio-icon-mini.old {
    border-color: #faa61a;
}

.portfolio-table td {
    display: flex;
    justify-content: space-between;
}

.portfolio-table td .portfolio-line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-table td .portfolio-line span {
    margin-left: 0.3em;
}

.portfolio-table td .portfolio-buttons a.btn {
    padding: 0.375rem 0.35rem;
}

.icon-tba {
    background-image: url(../assets/img/portfolio/tba.png);
}

.icon-gloopybot {
    background-image: url(../assets/img/portfolio/gloopybot.png);
}

.icon-wikialinker {
    background-image: url(../assets/img/portfolio/wikialinker.png);
}

.icon-googlr {
    background-image: url(../assets/img/portfolio/googlr.png);
}

.icon-birbbot {
    background-image: url(../assets/img/portfolio/birbbot.png);
}

.icon-bugebot {
    background-image: url(../assets/img/portfolio/bugebot.png);
}

.icon-charbotte {
    background-image: url(../assets/img/portfolio/charbotte.png);
}

.icon-chungocraft {
    background-image: url(../assets/img/portfolio/chungocraft.png);
}

.icon-frob {
    background-image: url(../assets/img/portfolio/frob.png);
}

.icon-froggobot {
    background-image: url(../assets/img/portfolio/froggobot.png);
}

.icon-homewardbot {
    background-image: url(../assets/img/portfolio/homewardbot.png);
}

.icon-rosebot {
    background-image: url(../assets/img/portfolio/rosebot.png);
}

.icon-shitpeoplebot {
    background-image: url(../assets/img/portfolio/shitpeoplebot.png);
}

.icon-terribot {
    background-image: url(../assets/img/portfolio/terribot.png);
}

.icon-frogleap {
    background-image: url(../assets/img/portfolio/frogleap.png);
}

.icon-newxkit {
    background-image: url(../assets/img/portfolio/newxkit.png);
}

.icon-distantquest {
    background-image: url(../assets/img/portfolio/distantquest.png);
}

.icon-taskbotv2 {
    background-image: url(../assets/img/portfolio/taskbotv2.png);
}

.icon-wob {
    background-image: url(../assets/img/portfolio/wob.png);   
}

.icon-bgr-quartermaster {
    background-image: url(../assets/img/portfolio/bgr-quartermaster.png);
}

.icon-xkitrw {
    background-image: url(../assets/img/portfolio/xkitrw.png);
}